*,
*::after,
*::before {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
body {
	max-width: $max-width-mobile;
	margin-left: auto;
	margin-right: auto;
	font-family: "Roboto", sans-serif;
	color: black;
	@media all and (min-width: 768px) {
		max-width: $max-width-tablette;
		background-color: $tertiary-color;
	}
	@media all and (min-width: 993px) {
		max-width: $max-width-desktop;
		background-color: $tertiary-color;
	}
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
}
h2 {
	font-weight: 700;
}
ul {
	list-style-type: none;
}

.interior-page main {
	position: relative;
	top: -25px;
	margin-top: -25px;
	margin-bottom: -25px;
	padding: 35px 0 45px 0;
	z-index: 99;
	border-radius: 45px 45px 0 0;
	background-color: $neutral;
}
/*permet au pointer de fonctionner au hover sur les pictos svg*/
object {
	pointer-events: none;
}
