footer {
	display: flex;
	flex-direction: column;
	background-color: $neutral-deep-dark;
	padding: 27px;
	height: 195px;
	color: white;
	p {
		font-family: "Shrikhand", cursive;
		font-weight: 100;
		font-size: 20px;
		padding-bottom: 20px;
	}
	ul {
		padding-bottom: 8px;
		font-size: 15px;

		li {
			padding-bottom: 8px;
			&:nth-child(1) {
				position: relative;
				padding-left: 25px;
				i {
					position: absolute;
					left: 0;
				}
			}
			&:nth-child(2) {
				position: relative;
				padding-left: 25px;
				i {
					position: absolute;
					left: 0;
				}
			}
			a {
				color: white;
			}
		}
	}
}
@media all and (min-width: 768px) {
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
