header {
	height: 65px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	@media all and (min-width: 768px) {
	}
	img {
		width: 170px;
		padding-top: 15px;
	}
}
.interior-page .head {
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	height: 320px;
	z-index: -1;
	&__info {
		display: flex;
		flex-direction: row;
		height: 65px;
		@media all and (min-width: 768px) {
			justify-content: center;
			}
		&__logo {
			width: 375px;
			p {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				height: 65px;
				margin-right: 75px;
				padding-top: 15px;
			}
		}
		&--return {
			width: 75px;
			&__arrow {
				width: 75px;
				height: 65px;
			}
			& a {
				display: block;
				width: 75px;
				height: 65px;
			}
			& i {
				position: relative;
				top: 25px;
				left: 25px;
				opacity: 70%;
				transition: 1s ease-in-out;
				&:hover {
					opacity: 1;
				}
			}
			&__accessibility {
				display: none;
			}
		}
	}
	&__deco {
		height: 255px;
		width: 375px;
		@media all and (min-width: 768px) {
			width: 100%;
		}
		img {
			width: 375px;
			height: 255px;
			object-fit: cover;
			padding-top: 0;
			@media all and (min-width: 768px) {
				position:relative;
				display:inline-block;
				width: 100%;
				object-position: 50% 58%;
			}
		}
	}
}
