.card {
	display: flex;
	flex-direction: column;
	height: $card-height;
	width: 335px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
	border-radius: 15px;
	@include shadow($neutral);
	z-index: 2;
	&:hover {
		&::after {
			opacity: 1;
		}
	}
	&::after {
		content: "";
		background-color: $tertiary-color;
		border-radius: 15px;
		height: $card-height;
		width: 335px;
		opacity: 0;
		z-index: 1;
		position: absolute;
		@include shadow($tertiary-color);
		@include card-transition;
	}
	img {
		position: relative;
		width: 335px;
		height: $card-image-height;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
		z-index: 2000;
	}
	&__image {
		position: relative;
		p {
			position: absolute;
			top: 13px;
			right: 13px;
			z-index: 10;
			height: 30px;
			width: 80px;
			padding-top: 5px;
			text-align: center;
			background-color: $tertiary-color;
			color: darken($tertiary-color, 50%);
			font-weight: 500;
			font-size: 15px;
		}
	}
	&__text {
		display: flex;
		align-items: flex-start;
		height: $card-text-height;
		z-index: 2;
		& a:first-child > div {
			width: 335px;
			height: $card-text-height;
			padding-top: 10px;
			p:first-child {
				font-weight: bold;
				font-size: 18px;
				padding-bottom: 4px;
				padding-left: 15px;
			}
			p:nth-child(2) {
				padding-left: 15px;
				font-size: 18px;
			}
		}
		&__like {
			position: relative;
			top: 15px;
			margin-left: -55px;
			z-index: 10;
			height: 25px;
			width: 29px;
			@media all and (max-width: 992px) {
				&:active {
					& .card__text__like--fill {
						opacity: 1;
						cursor: pointer;
						z-index: 1;
					}
				}
			}
			@media all and (min-width: 993px) {
				&:hover {
					& .card__text__like--fill {
						opacity: 1;
						cursor: pointer;
						z-index: 1;
					}
				}
			}
			&--fill {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				opacity: 0;
				z-index: 10;
				@include card-transition;
				height: 20px;
				width: 20px;
			}
		}
	}
}
.restaurants h2 {
	padding-left: 15px;
}
@media all and (min-width: 768px) {
	.restaurants {
		padding-top: 30px;
	}
	.cards__wrapper {
		width: 450px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
	}
	.restaurants h2 {
		text-align: center;
		text-align: center;
		padding-top: 0;
		padding-bottom: 15px;
	}
}
@media all and (min-width: 993px) {
	.cards__wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 790px;
		height: 600px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.restaurants {
	background-color: $neutral;
	padding-top: 60px;
	padding-bottom: 65px;
	h2 {
		padding-bottom: 30px;
	}
}
