@mixin button-transition {
	transition: opacity 350ms ease-in-out;
}
@mixin card-transition {
	transition: opacity 300ms ease-in-out;
}
@mixin meal-transition {
	transition: transform, width, 675ms ease-in-out;
}

@mixin shadow($color: $neutral-dark) {
	box-shadow: 0 3px 6px darken($color, 40%);
}

@mixin radius {
	border-radius: 15px;
}

@mixin position--after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}
