@mixin button-transition
{
transition: opacity 500ms ease-in-out;
}
@mixin card-transition
{
transition: opacity 450ms ease-in-out;
}
@mixin meal-transition {
	transition: all 675ms ease-in-out;
}

@mixin shadow($color: $neutral-dark) {
	box-shadow: 0 3px 6px darken($color, 40%);
}

@mixin radius {
	border-radius: 15px;
}