@mixin button-transition
{
transition: opacity 500ms ease-in-out;
}
@mixin card-transition
{
transition: opacity 450ms ease-in-out;
}
@mixin meal-transition {
	transition: all 675ms ease-in-out;
}

@mixin shadow($color: $neutral-dark) {
	box-shadow: 0 3px 6px darken($color, 40%);
}

@mixin radius {
	border-radius: 15px;
}

@mixin dish-appear($delai: 0%) {
	@for $i from 1 through 10 {
		@keyframes appear#{$i} {
			0% {
				opacity: 0;
				transform: translateY(20px);
			}

			#{$delai + $i*5.9} {
				opacity: 0;
				transform: translateY(20px);
			}
			#{$delai+($i*5.9) + 20%} {
				opacity: 1;
				transform: translateY(0px);
			}

			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}
