$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$neutral-dark: #7e7e7e;
$neutral-intermediary: #eaeaea;
$neutral: #f6f6f6;

/*fonctionnement*/
$step-height: 75px;
$step__number-width: 35px;
$step__pic-width: 40px;
$step__text-width: 330- ($step__number-width + $step__pic-width);
$step-width: ($step__number-width + $step__pic-width + $step__text-width);
