/*couleur*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$neutral: #f6f6f6;
$neutral-intermediary: #eaeaea;
$neutral-dark: #7e7e7e;
$neutral-deep-dark: #353535;

/*dimensions*/
$max-width-mobile: 375px;
$max-width-tablette: 750px;
$max-width-desktop: 1280px;

/*fonctionnement*/
$step-total-width: 330px;
$step-height: 75px;
$step__number-width: 35px;
$step__pic-width: 40px;
$step__text-width: $step-total-width - ($step__number-width + $step__pic-width);

/*fonctionnement tablette et desktop*/
$step-total-width-tablette: 255px;
$step-height-tablette: 75px;
$step__number-width-tablette: 30px;
$step__pic-width-tablette: 30px;
$step__text-width-tablette: $step-total-width-tablette -
	($step__number-width-tablette + $step__pic-width-tablette);

/*cards*/
$card-image-height: 175px;
$card-text-height: 80px;
$card-height: $card-image-height + $card-text-height;

/*loader*/
$scale0pct: 0;
$scale10pct: 0.02;
$scale20pct: 0.08;
$scale50pct: 0.3;
$scale80pct: 0.7;
$scale90pct: 0.87;
$scale100pct: 1;
