$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$neutral: #f6f6f6;
$neutral-intermediary: #eaeaea;
$neutral-dark: #7e7e7e;
$neutral-deep-dark: #353535;

/*mobile*/
$max-width-mobile: 375px;

/*fonctionnement*/
$step-height: 75px;
$step__number-width: 35px;
$step__pic-width: 40px;
$step__text-width: 330- ($step__number-width + $step__pic-width);
$step-width: ($step__number-width + $step__pic-width + $step__text-width);

/*cards*/
$card-image-height: 175px;
$card-text-height: 80px;
$card-height: $card-image-height + $card-text-height;

/*loader*/
$scale0pct: 0%;
$scale10pct: 2%;
$scale20pct: 8%;
$scale50pct: 30%;
$scale80pct: 70%;
$scale90pct: 87%;
$scale100pct: 100%;

