.loader__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: 80px;
	background-color: $secondary-color;
	overflow: hidden;
	border-radius: 15px;
	@include shadow($neutral-dark);
	&__bck {
		position: relative;
		background-color: $primary-color;
		width: 350px;
		height: 80px;
		z-index: -5;
		animation: fill 3s ease-in-out both;
		transform-origin: left;
		z-index: 10;
	}
	&__ohmyfood-bck {
		position: relative;
		top: -40px;
		left: -80px;
		padding-top: 8px;
		height: 40px;
		width: 80px;
		background-color: $tertiary-color;
		z-index: 20;
		animation: deplacement 3s ease-in-out both;
		transform-origin: left;
		font-family: "Shrikhand", cursive;
		font-size: 13px;
		text-align: center;
	}
	&__ohmyfood-txt {
		position: relative;
		top: -80px;
		left: -80px;
		padding-left: 5px;
		padding-top: 8px;
		height: 40px;
		width: 80px;
		z-index: 20;
		animation: deplacement2 3s ease-in-out both;
		transform-origin: left;
		font-family: "Shrikhand", cursive;
		font-size: 13px;
		text-align: center;
	}
}

.poursuivant-2 {
	z-index: 20;
	position: relative;
	width: 20px;
	height: 20px;
	left: -20px;
	top: -115px;
	color: $tertiary-color;
	transform-origin: center center;
	z-index: 10;
	animation: deplacement3 3s ease-in-out both;
}
/*
.poursuivant-2::after {
	content: "";
	width: 6px;
	height: 6px;
	margin: -3px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	background-color: orange;
	z-index: 8000;
}*/

/*.poursuivant {
	z-index: 20;
	position: relative;
	top: -110px;
	left: -280px;
	color: $tertiary-color;
	transform-origin: 50% 50%;
	text-align: center;
	animation: deplacement3 3s ease-in-out both;
}*/

@keyframes fill {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}
	10% {
		transform: scaleX($scale10pct);
		opacity: 0.05;
	}
	20% {
		transform: scaleX($scale20pct);
		opacity: 0.01;
	}
	50% {
		transform: scaleX($scale50pct);
		opacity: 0.2;
	}
	80% {
		transform: scaleX($scale80pct);
		opacity: 0.6;
	}
	90% {
		transform: scaleX($scale90pct);
		opacity: 0.8;
	}
	90% {
		transform: scaleX($scale100pct);
		opacity: 0.9;
	}
	100% {
		transform: scaleX($scale100pct);
		opacity: 1;
	}
}

@keyframes deplacement {
	0% {
		transform: translateX(-40px) scaleX(100%);
	}
	10% {
		transform: translateX(-5px);
	}
	20% {
		transform: translateX(10px) scaleX(100%);
	}
	50% {
		transform: translateX(25px) scaleX(100%);
	}
	80% {
		transform: translateX(200px) scaleX(180%);
	}
	90% {
		transform: translateX(350px);
	}
	100% {
		transform: translateX(350px);
	}
}

@keyframes deplacement2 {
	0% {
		transform: translateX(-40px);
	}
	10% {
		transform: translateX(-5px);
	}
	20% {
		transform: translateX(10px);
	}
	50% {
		transform: translateX(25px);
	}
	80% {
		transform: translateX(200px);
	}
	90% {
		transform: translateX(350px);
	}
	100% {
		transform: translateX(350px);
	}
}

@keyframes deplacement3 {
	0% {
		transform: translateX(-100px) scaleX(100%) rotate(0);
	}
	10% {
		transform: translateX(-80px) rotate(180);
	}
	20% {
		transform: translateX(-70px) scaleX(100%) rotate(360deg);
	}
	50% {
		transform: translateX(-45px) scaleX(100%) rotate(720deg);
	}
	80% {
		transform: translateX(100px) scaleX(250%) rotate(1000deg);
	}
	90% {
		transform: translateX(160px) rotate(1430deg);
	}
	100% {
		transform: translateX(260px) rotate(1430deg);
	}
}
