.loader {
	position: fixed;
	top: 0;
	left: 0;
	animation: appear-disappear 3s ease-in-out forwards;
	background-color: darken($tertiary-color, 50);
	margin: 0;
	width: 100vw;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: $tertiary-color;
		opacity: 0;
		animation: loader_after 3s ease-in-out forwards;
		transform-origin: left;
	}
}
.loader__container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	overflow: hidden;
}
@keyframes appear-disappear {
	0% {
		opacity: 1;
	}
	97% {
		opacity: 1;
		animation-timing-function: ease-in-out;
	}
	100% {
		opacity: 0;
	}
}

.loader__content {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: 80px;
	z-index: 8;
	background-color: $secondary-color;
	overflow: hidden;
	border-radius: 15px;
	@media all and (min-width: 768px) {
		width: 700px;
		height: 160px;
	}
	@media all and (max-width: 370px) {
		width: 300px;
	}
	@include shadow($neutral-dark);
	&__bck {
		position: relative;
		background-color: $primary-color;
		width: 350px;
		height: 80px;
		z-index: 7;
		animation: fill 2.5s ease-in-out both;
		transform-origin: left;
		z-index: 10;
		@media all and (min-width: 768px) {
			width: 700px;
			height: 160px;
		}
		@media all and (max-width: 370px) {
			width: 300px;
		}
	}
	&__circle {
		z-index: 20;
		position: relative;
		width: 20px;
		height: 20px;
		left: -20px;
		top: -115px;
		color: $tertiary-color;
		transform-origin: center center;
		z-index: 10;
		animation: movement__circle 2.5s ease-in-out both;
		@media all and (min-width: 768px) {
			left: -30px;
			top: -200px;
			animation: movement__circle__big__screen 2.5s ease-in-out both;
		}
		@media all and (max-width: 350px) {
			left: -20px;
			top: -115px;
			animation: movement__circle__mini__screen 2.5s ease-in-out both;
		}
	}
	&__ohmyfood-bck {
		position: relative;
		top: -40px;
		left: -80px;
		padding-top: 8px;
		height: 40px;
		width: 80px;
		background-color: $tertiary-color;
		z-index: 20;
		animation: scale__bck 2.5s ease-in-out both;
		transform-origin: left;
		font-family: "Shrikhand", cursive;
		text-align: center;
		@media all and (min-width: 768px) {
			top: -60px;
			left: -160px;
			padding-top: 8px;
			height: 80px;
			width: 160px;
			animation: scale__bck__big__screen 2.5s ease-in-out both;
		}
		@media all and (max-width: 370px) {
			animation: scale__bck__mini__screen 2.5s ease-in-out both;
		}
	}
	&__ohmyfood-txt {
		position: relative;
		top: -80px;
		left: -80px;
		padding-left: 5px;
		padding-top: 8px;
		height: 40px;
		width: 80px;
		z-index: 20;
		animation: movement__txt 2.5s ease-in-out both;
		transform-origin: left;
		font-family: "Shrikhand", cursive;
		font-size: 13px;
		text-align: center;
		@media all and (min-width: 768px) {
			top: -130px;
			left: -165px;
			padding-left: 5px;
			padding-top: 8px;
			height: 80px;
			width: 160px;
			font-size: 26px;
			animation: movement__txt__big__screen 2.5s ease-in-out both;
		}
		@media all and (max-width: 370px) {
			top: -80px;
			left: -80px;
			padding-left: 5px;
			padding-top: 8px;
			animation: movement__txt__mini__screen 2.5s ease-in-out both;
		}
	}
}

@keyframes loader_after {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}
	5% {
		transform: scaleX(0);
		opacity: 0;
	}
	10% {
		transform: scaleX($scale10pct);
		opacity: 0.01;
	}
	20% {
		transform: scaleX($scale20pct);
		opacity: 0.01;
	}
	50% {
		transform: scaleX($scale50pct);
		opacity: 0.2;
	}
	80% {
		transform: scaleX($scale80pct);
		opacity: 0.5;
	}
	85% {
		transform: scaleX($scale90pct);
		opacity: 0.7;
	}
	90% {
		transform: scaleX($scale100pct);
		opacity: 0.8;
	}
	100% {
		transform: scaleX($scale100pct);
		opacity: 1;
	}
}

@keyframes fill {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}
	10% {
		transform: scaleX($scale10pct);
		opacity: 0.05;
	}
	20% {
		transform: scaleX($scale20pct);
		opacity: 0.01;
	}
	50% {
		transform: scaleX($scale50pct);
		opacity: 0.2;
	}
	80% {
		transform: scaleX($scale80pct);
		opacity: 0.5;
	}
	95% {
		transform: scaleX($scale100pct);
		opacity: 0.8;
	}
	100% {
		transform: scaleX($scale100pct);
		opacity: 1;
	}
}
@keyframes movement__circle {
	0% {
		transform: translateX(-100px) scaleX(1) rotate(0deg);
	}
	10% {
		transform: translateX(-80px) rotate(180deg);
	}
	20% {
		transform: translateX(-70px) scaleX(1) rotate(360deg);
	}
	50% {
		transform: translateX(-45px) scaleX(1) rotate(720deg);
	}
	80% {
		transform: translateX(100px) scaleX(2.5) rotate(1000deg);
	}
	90% {
		transform: translateX(160px) rotate(1430deg);
	}
	100% {
		transform: translateX(260px) rotate(1430deg);
	}
}
@keyframes movement__txt {
	0% {
		transform: translateX(-40px);
	}
	10% {
		transform: translateX(-5px);
	}
	20% {
		transform: translateX(10px);
	}
	50% {
		transform: translateX(25px);
	}
	60% {
		transform: translateX(200px);
	}
	85% {
		transform: translateX(350px);
	}
	100% {
		transform: translateX(350px);
	}
}
@keyframes scale__bck {
	0% {
		transform: translateX(-40px) scaleX(1);
	}
	10% {
		transform: translateX(-5px);
	}
	20% {
		transform: translateX(10px) scaleX(1);
	}
	50% {
		transform: translateX(25px) scaleX(1);
	}
	60% {
		transform: translateX(200px) scaleX(1.8);
	}
	85% {
		transform: translateX(350px);
	}
	100% {
		transform: translateX(350px);
	}
}

/*keyframes grands écrans*/
@media all and (min-width: 768px) {
	@keyframes movement__circle__big__screen {
		0% {
			transform: translateX(-100px) scale(2, 2) rotate(0deg);
		}
		10% {
			transform: translateX(-80px) scale(2, 2) rotate(180deg);
		}
		20% {
			transform: translateX(-70px) scale(2, 2) rotate(360deg);
		}
		50% {
			transform: translateX(-45px) scale(2, 2) rotate(720deg);
		}
		80% {
			transform: translateX(200px) scale(2, 2) rotate(1000deg);
		}
		85% {
			transform: translateX(320px) scale(3, 2) rotate(1430deg);
		}
		100% {
			transform: translateX(520px) scale(2, 2) rotate(1430deg);
		}
	}
}
/*keyframes écrans mini*/
@media all and (max-width: 370px) {
	@keyframes movement__circle__mini__screen {
		0% {
			transform: translateX(-100px) scaleX(1) rotate(0deg);
		}
		10% {
			transform: translateX(-80px) rotate(180deg);
		}
		20% {
			transform: translateX(-70px) scaleX(1) rotate(360deg);
		}
		50% {
			transform: translateX(-45px) scaleX(1) rotate(720deg);
		}
		80% {
			transform: translateX(100px) scaleX(2.5) rotate(1000deg);
		}
		90% {
			transform: translateX(160px) rotate(1430deg);
		}
		100% {
			transform: translateX(200px) rotate(1430deg);
		}
	}
}
@keyframes scale__bck__big__screen {
	0% {
		transform: translateX(-40px) scaleX(1);
	}
	10% {
		transform: translateX(-5px);
	}
	20% {
		transform: translateX(10px) scaleX(1);
	}
	50% {
		transform: translateX(25px) scaleX(1);
	}
	60% {
		transform: translateX(400px) scaleX(1);
	}
	85% {
		transform: translateX(700px);
	}
	100% {
		transform: translateX(700px);
	}
}
@keyframes movement__txt__big__screen {
	0% {
		transform: translateX(-40px);
	}
	10% {
		transform: translateX(-5px);
	}
	20% {
		transform: translateX(10px);
	}
	50% {
		transform: translateX(25px);
	}
	60% {
		transform: translateX(400px);
	}
	85% {
		transform: translateX(700px);
	}
	100% {
		transform: translateX(700px);
	}
}
@media all and (max-width: 370px) {
	@keyframes scale__bck__mini__screen {
		0% {
			transform: translateX(-40px) scaleX(1);
		}
		10% {
			transform: translateX(-5px);
		}
		20% {
			transform: translateX(10px) scaleX(1);
		}
		50% {
			transform: translateX(25px) scaleX(1);
		}
		60% {
			transform: translateX(200px) scaleX(1.8);
		}
		85% {
			transform: translateX(300px);
		}
		100% {
			transform: translateX(300px);
		}
	}
}
@media all and (max-width: 370px) {
	@keyframes movement__txt__mini__screen {
		0% {
			transform: translateX(-40px);
		}
		10% {
			transform: translateX(-5px);
		}
		20% {
			transform: translateX(10px);
		}
		50% {
			transform: translateX(25px);
		}
		60% {
			transform: translateX(200px);
		}
		85% {
			transform: translateX(300px);
		}
		100% {
			transform: translateX(300px);
		}
	}
}

/*Apparition progressive du contenu de la page après le loader*/
.index header,
.location-form,
.presentation,
.fonctionnement,
.restaurants,
.index footer {
	animation: appear 3s ease-in-out;
}

@keyframes appear {
	0% {
		visibility: hidden;
	}
	97% {
		visibility: hidden;
		opacity: 0;
		animation-timing-function: ease-in-out;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
