.location {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: $neutral-intermediary;
	background-image: linear-gradient(to bottom, #cecece, $neutral-intermediary);
	color: black;
	background-repeat: no-repeat;
	background-size: 100% 5px;
	background-position: center top;
	&__icon {
		padding: 5px;
	}
	&__text {
		padding: 5px 25px 5px 10px;
		font-weight: 500;
	}
}

.presentation {
	height: 290px;
	padding-top: 40px;
	background-color: $neutral;
}

.presentation h1 {
	font-family: Roboto, sans-serif;
	font-weight: 800;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	padding: 0 55px 10px 55px;
}

.presentation h1 + p {
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 30px;
	text-align: center;
}
.fonctionnement {
	height: 440px;
	padding-top: 50px;
	background-color: white;
	h2{padding-bottom:30px;}
}

.step {
	width: $step-width;
	height: $step-height;
	position: relative;
	background-color: $neutral;
	border-radius: 30px/20px;
	@include shadow;
	margin-left: 30px;
	margin-bottom: 20px;
	&__number {
		position: absolute;
		width: $step__number-width;
		height: $step-height;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		line-height: $step-height;
		.centrage {
			color: white;
			background-color: $primary-color;
			margin-top: 25px;
			margin-left: -13px;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__pic {
		position: absolute;
		width: $step__pic-width;
		height: $step-height;
		left: $step__number-width;
		top: 0;
		margin: 0;
		padding: 0;
		line-height: $step-height;
		i {
			color: $neutral-dark;
			margin-top: 15px;
		}
	}
	&__text {
		position: absolute;
		width: $step__text-width;
		height: $step-height;
		left: $step__number-width + $step__pic-width;
		top: 0;
		margin: 0;
		padding: 2px 0 0 0;
		line-height: $step-height;
	}
}
.restaurants {
	background-color: $neutral;
}

.card {
	@include shadow;
	display: flex;
	border-radius: 15px;
	flex-direction: column;
	background-color: white;
	width: 335px;
	margin-left: auto;
	margin-right: auto;
	img {
		width: 335px;
		height: 175px;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
	}
	&__image {
		position: relative;
		p {
			position: absolute;
			top: 13px;
			right: 13px;
			z-index: 10;
			height: 30px;
			width: 80px;
			padding-top: 5px;
			text-align: center;
			background-color: $tertiary-color;
		}
	}
	&__text {
		display: flex;
		height: 75px;
		justify-content: space-between;
		flex-direction: row;
		&__like {
			position: relative;
			z-index: 1;
			color: $neutral-dark;
			position: relative;
			&:hover > p:first-child {
				opacity: 0;
				transition: opacity 2s;
			}
			&:hover .card__text__like--fill {
				opacity: 1;
			}
			&--fill {
				position: absolute;
				color: $primary-color;
				top: 0;
				right: 0;
				opacity: 0;
				z-index: -1;
				transition: opacity 2s;
			}
		}
	}
}
