.fonctionnement {
	height: 440px;
	padding-top: 50px;
	background-color: white;
	@media all and (min-width: 768px) {
		height: 250px;
	}
	h2 {
		padding-bottom: 30px;
		padding-left: 15px;
	}
}
.step {
	width: $step-width;
	height: $step-height;
	position: relative;
	z-index: 1;
	background-color: $neutral;
	border-radius: 30px/20px;
	@include shadow(white);
	margin-left: 30px;
	margin-bottom: 20px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	@media all and (min-width: 768px) {
		width: $step-width-tablette;
		height: $step-height-tablette;
		margin-bottom: 0;
		margin-right: 10px;
	}
	i {
		color: $neutral-dark;
		margin-top: 15px;
	}
	&__number {
		position: absolute;
		width: $step__number-width;
		height: $step-height;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		font-weight: 300;
		font-size: 15px;
		@media all and (min-width: 768px) {
			width: $step__number-width-tablette;
			height: $step-height-tablette;
		}
		.centrage {
			color: white;
			background-color: $primary-color;
			margin-top: 25px;
			margin-left: -13px;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__pic {
		position: absolute;
		width: $step__pic-width;
		height: $step-height;
		left: $step__number-width;
		z-index: 1;
		top: 5px;
		margin: 0;
		padding: 0;
		line-height: $step-height;
		@media all and (min-width: 768px) {
			width: $step__pic-width-tablette;
			height: $step-height-tablette;
			left: $step__number-width-tablette;
		}
	}
	&__text {
		position: absolute;
		width: $step__text-width;
		height: $step-height;
		left: $step__number-width + $step__pic-width;
		top: 0;
		margin: 0;
		padding: 2px 0 0 0;
		line-height: $step-height;
		font-weight: 700;
		font-size: 17px;
		@media all and (min-width: 768px) {
			max-width: 140px;
			padding-top: 15px;
			line-height: 22px;
			height: $step-height-tablette;
			left: $step__number-width-tablette + $step__pic-width-tablette;
			padding-left: 5px;
			word-wrap: break-word;
			overflow-wrap: break-word;
			font-size: 18px;
		}
	}
	&:hover {
		&::after {
			opacity: 1;
		}
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 30px/20px;
		background-color: lighten($primary-color, 32%);
		@include shadow($neutral-intermediary);
		opacity: 0;
		z-index: -1;
		transition: opacity 1250ms ease-in-out;
	}
	&:hover {
		p.step__pic::after {
			opacity: 1;
		}
	}
	&__pic::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 30px/20px;
		opacity: 0;
		z-index: 25;
		transition: opacity 1250ms ease-in-out;
	}
	&__pic__un::after {
		content: url(mobile-screen-button-solid-2.svg);
	}
	&__pic__deux::after {
		content: url(list-solid-2.svg);
	}
	&__pic__trois::after {
		content: url(store-solid-2.svg);
	}
}
/*responsive*/
@media all and (min-width: 768px) {
	.step-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.fonctionnement {
		padding-top: 30px;
	}
	.fonctionnement h2 {
		text-align: center;
	}
}
