.dish-card {
	position: relative;
	overflow: hidden;
	width: 345px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	@include shadow(white);
	border-radius: 15px;
}
.dish-card__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 345px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	transform-origin: top left;
	overflow: hidden;
	background-color: #99e2d0;
	&__name {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 285px;
		height: 70px;
		background-color: white;
		&__title {
			height: 70px;
			padding-top: 12px;
			padding-left: 10px;
			font-size: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: normal;
			width: 262px;
			transform-origin: left;
			transition: all 2s;
		}
		&__description {
			height: 70px;
			padding-left: 10px;
			padding-bottom:5px;
			font-size: 13px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: normal;
			width: 262px;
			transform-origin: left;
			transition: all 2s;
		}
	}
	&__price {
		display: flex;
		flex-direction: column;
		width: 60px;
		height: 70px;
		@include transition-dish-card;
		transform-origin: $tertiary-color;
		&--empty {
			height: 35px;
			background-color: white;
		}
		&__euros {
			height: 35px;
			background-color: white;
			font-size: 16px;
			font-weight: 700;
		}
	}
	&--check {
		height: 0;
		width: 0;
		background-color: red;
		position: relative;
		i {
			position: relative;
			color: white;
			left: 18px;
			top: 26px;
			transform: translate(0) rotate(0);
			z-index: 1000;
			@include transition-dish-card;
			transform-origin: 50% 50%;
		}
	}
	&:hover .dish-card__inner__price {
		transform: translgateX(-60px);
	}
}
.dish-card:hover .dish-card__inner--check i {
	transform: translate(-60px) rotate(360deg);
}
.dish-card__inner:hover .dish-card__inner__name p {
	width: 202px;
}
.dish-card__inner:hover .dish-card__inner__price {
	transform: translateX(-60px);
}
