.meal::after {
	content: "";
	background-color: #99e2d0;
	z-index: 1;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 10;
	width: 0;
	height: 70px;
	border-radius: 0 15px 15px 0;
	transition: all 2s ease-in-out;
	transform-origin: right;
}
.menu:hover .meal::after {
	width: 55px;
}

p.rond {
    position:relative;
    left:50px;
	top: -10px;
	margin-left: 1px;
	transform: translateX(0) rotate(360deg);
	z-index: 100;
	transition: all 2s ease-in-out;
	transform-origin: 50% 50%;
}

.menu:hover p.rond {
	transform: translateX(-50px);
}
.test {
	position: relative;
	overflow: hidden;
}

.meal {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 345px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 23px 10px 10px;
	border-radius: 15px;
	@include shadow(white);
	transition: all 2s ease-in-out;
	transform-origin: top left;
	background-color: lemonchiffon;
	overflow: hidden;
}

.meal__name {
	width: 262px;
	background-color: crimson;
}

.meal__price {
	width: 55px;
	background-color: burlywood;
	transition: all 2s ease-in-out;
	transform-origin: top left;
}

.meal:hover .meal__price {
	transform: translateX(-60px);
}

.meal__name h3,
.meal__name p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: normal;
	font-size: 16px;
	width: 262px;
	transform-origin: left;
	transition: all 2s;
}

.meal__price p {
	text-align: right;
}

.meal:hover .meal__name p {
	width: 202px;
}
